<ul>
  <% if Admin::ResourceGuidesController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_resource_guides_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_resource_guide_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::ResourceGuidesController.sortable? and ResourceGuide.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Resource Guides"),
                 admin_resource_guides_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Resource Guides"),
                 admin_resource_guides_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>