- path = "refinery_pages/guide/"
- content_partial = path + "items" # items is the #index template
- @resource_guides = all_guides_of_type(audience)
= render(:partial => path + "show", :locals => {:content_partial => content_partial})